In [1]:
#Q.1 Print number from 1 to 5 using a while loop.

In [2]:
a = 6
i = 1
while i <a:
    print(i)
    i = i+1

1
2
3
4
5

In [3]:
#Q.2 Calclate the sum of number from 1 to 10 using a while loop.

In [5]:
sum = 0
i = 1
while i<=10:
    sum = sum+i
    i = i+1
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [1]:
#Q.3 Calclate the factorial of a number using a for loop.

In [2]:
n = int(input("fact:"))
fact=1
for i in range (n,1,-1):
    fact=fact*i
print(fact) #5!

fact: 5

120

In [3]:
#Q.4 Count the number of vowel in a string using a for loop.

In [5]:
a= input("Enter any string:")
vowel_count=0
for i in a:
    if (i =="a" or i=="e" or i=="i" or i=="o" or i=="u"):
        vowel_count = vowel_count+1
print("total vowel count:",vowel_count) #my name is gaurav

Enter any string: my name is gaurav

total vowel count: 6

In [6]:
#Q.5 Print a pattern using nested loop.

In [9]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end="")
    print("\n")

*

**

***

****

*****

In [10]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print("*", end="")
    print("\n")

*****

****

***

**

*

In [11]:
#Q.6 Generate a multiplication table using nested loop.

In [12]:
rows=10
column=10
for i in range(1,rows+1):
    for j in range(1,column+1):
        c = i*j
        print("{:2d}".format(c), end=" ")
    print("\n")

 1  2  3  4  5  6  7  8  9 10

 2  4  6  8 10 12 14 16 18 20

 3  6  9 12 15 18 21 24 27 30

 4  8 12 16 20 24 28 32 36 40

 5 10 15 20 25 30 35 40 45 50

 6 12 18 24 30 36 42 48 54 60

 7 14 21 28 35 42 49 56 63 70

 8 16 24 32 40 48 56 64 72 80

 9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100